ALTER TABLE `task` ADD CONSTRAINT `ProjectId_Constraint` FOREIGN KEY (`ProjectId`) REFERENCES `project`(`ProjectId`) ON DELETE RESTRICT ON UPDATE RESTRICT;

ALTER TABLE `task` ADD CONSTRAINT `StatusId_Constraint` FOREIGN KEY (`StatusId`) REFERENCES `statuscode`(`StatusId`) ON DELETE RESTRICT ON UPDATE RESTRICT;

ALTER TABLE `project` ADD CONSTRAINT `StatusId_Constraint_2` FOREIGN KEY (`StatusId`) REFERENCES `statuscode`(`StatusId`) ON DELETE RESTRICT ON UPDATE RESTRICT;

ALTER TABLE `task` ADD CONSTRAINT `ProjectId_Constraint_2` FOREIGN KEY (`ParentTaskId`) REFERENCES `task`(`TaskId`) ON DELETE RESTRICT ON UPDATE RESTRICT;